.btnMenu{
    display: block;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
    border-bottom: 1px solid #ffffffc4;
    
}

.btnMenu_open{
    background-image: url(../img/btn_menu_branco.svg);
}

.btnMenu_close{
    /*background-color:#603813;*/
    background-image: url(../img/btn_menu_branco.svg);
  
}

