
body{
    font-family: Roboto, sans-serif;
    background-color: #A5CFEB;
    margin: 0px;
    width: 100%;
    height:100vh;
    overflow: hidden;
}

.cadastro .nuvem #nuvem1{
    height: 5vh;
    margin-left: 5%;
    margin-right: 15%;
    opacity: 0.5;
}
.cadastro #nuvem2{
    margin-top: 10px;
    height: 10vh;
    margin-left: 5%;
    opacity: 0.7;
}

.cadastro form{
    position: absolute;
    top:30vh;
    left: 5%;
    display: flex;  
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.081);
    width:90%;
    align-items: center;
    -webkit-box-shadow: 0px 0px 22px -11px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 22px -11px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 22px -11px rgba(0,0,0,0.68);
    border-radius: 15px;
    padding-bottom: 35px;
}

.cadastro form p {
    text-align: center;
    font-size:18px;
    padding: 35px 10px 15px 10px;
    color: #381d04;


}

.cadastro form input{   
    margin-left: 2%; 
    width:91%;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    border: #60381379 solid 1px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: #4f2905;
}

.cadastro form input::placeholder{ 
    color: #4f2905;
}


.cadastro form input[type="submit"] {
    width:40%;
    font-weight: bolder;
    background-color: #4f2905;
    color: #fff;
    padding: 10px 6px;
    margin-top: 15px;
}

.cadastro form a {
    text-decoration: none;
    margin-top:10px;
    color: #603813;
}

footer{
    width: 100%;
    height:9vh;
    margin-top: 74vh;
    padding-top: 7vh;
    background-color: #6E5031;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


    /*1200px desktop*/
    @media  (min-width:1200px){
        
    }  

    /*960px tabletes no modo paisagem  */  
        @media  (min-width:960px){
        
        } 
    
    /*768px tabletes no modo retrato */   
       @media  (min-width:768px){
        .cadastro form{
            flex-direction: column;
        }
        .cadastro form p{
            font-size: 25px;
        }

        .cadastro form div{  
            display: flex;
            flex-direction: row;
        }

        .cadastro form input{    
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 0px;
        }
        
        }

    /* 480px smartphone no modo paisagem */

        @media  (min-width:480px){
        
        }