.menu{
    position: absolute;
    top: 0;
    right:0;
    width: 100%;

    transform: translateX(-100%);
    transition: 200ms linear;
}

.menu_open{
    transform: translateX(0);  
}

.menu-item{
    border-bottom: 1px solid #ffffffc4;
    padding: 20px 15px;
}

.menu-item-action{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}