.sobre{
    width:100%;
    background-color: #A5CFEB;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}


.nuvem{
    display: flex;
    flex-direction: column;
    padding-top:100px;
}

.nuvem #nuvem1{
    width:25%; 
    max-width:100px;
    opacity:0.4;    
    margin-left:5%;
}
.nuvem #nuvem2{
    width:50%; 
    max-width:200px;
    opacity:0.9;    
    margin-left:45%;

}

.bloco-pesonagem{
    display: flex;
    flex-direction: column;
    padding-top:0px;
}


.bloco-pesonagem #plataforma-pequena{
    width:17%; 
    max-width: 130px;
    max-height: 103px;
}
.bloco-pesonagem div{
    display: flex;
    justify-content: center;
}
.bloco-pesonagem div p{
    width: 70%;
    padding: 100px 0px 100px 0px;
    float: left;
    text-align: initial;
    font-size: 18px;
    color: #381d04;
}


.bloco-pesonagem #personagem-plataforma{
    width:50%;
    max-width: 384px;
    max-height: 122px;

}


 /*1200px desktop*/
 @media  (min-width:1200px){

  .bloco-pesonagem div p {
        padding-top: 200px;
        padding-bottom: 200px;
        font-size: 30px;
    }

        
}  

/*960px tabletes no modo paisagem  */  
    @media  (min-width:960px){
    
    } 

/*768px tabletes no modo retrato */   
   @media  (min-width:768px){
    .bloco-pesonagem div p {
        font-size: 25px;
    }
    
    }

/* 480px smartphone no modo paisagem */

    @media  (min-width:480px){
    
    }