.sobre{
    width:100%;
    background-color: #A5CFEB;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   
}


.nuvem{
    display: flex;
    flex-direction: column;
    padding-top:100px;
}

.nuvem #nuvem1{
    width:25%; 
    max-width:100px;
    opacity:0.4;    
    margin-left:5%;
}
.nuvem #nuvem2{
    width:50%; 
    max-width:200px;
    opacity:0.9;    
    margin-left:45%;

}

.bloco-pesonagem{
    display: flex;
    flex-direction: column;
    padding-top:0px;
}


.bloco-pesonagem #plataforma-pequena{
    width:17%; 
}
.bloco-pesonagem div{
    display: flex;
    justify-content: center;
}
.bloco-pesonagem div p{
    width: 70%;
    padding: 100px 0px 100px 0px;
    float: left;
    text-align: initial;
    font-size: 18px;
    color: #381d04;
}


.bloco-pesonagem #personagem-plataforma{
    width:50%; 
}