*{
    margin: 0;
    padding: 0;
    border: none;    
}

body{
    font-family: Roboto, sans-serif;
    background-color: #A5CFEB;
}

ul,ol,li{
    list-style: none;
}

nav{
    position: fixed;

}

ul{
    
    background-color:rgba(0, 0, 0, 0.653); 
    height: 100vh;   
}
ul li {
    text-align: center;    
}
